{% if generator_error_message %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>                                    
        <p><b>{{tab_selected}} Server License Generator error:</b></p>
        <p>{{ generator_error_message }}</p>
    </div>
{% elif java_error_message %}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>                    
        <p><b>{{tab_selected}} Java License Generator error:</b></p>
        <p>{{ java_error_message }}</p>        
    </div>
{% endif %}


