{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>      
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>License Generator</title>
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">       
        <link href="{% static "css/tabbedform.css" %}" rel="stylesheet" type="text/css">               
    </head>

    <body>

        <!-- Fixed navbar bootstrap -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">                        
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Alfresco License Generator</a>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://issues.alfresco.com/jira/secure/CreateIssue.jspa?pid=10130&issuetype=1" target="_blank">Raise a JIRA ticket for this app</a>
                        </li>
                        <li>
                            <a href="#">Upload and check an existing license</a>
                        </li>  

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out {{username}}</a></li>
                    </ul>
                    
                    
                </div>
            </div>
        </div>
        </nav>
        <!-- Fixed navbar bootstrap -->

        <!-- Begin content page -->
        <div class="container">
           <h1 class="text-center">License Generator</h1> 
            <br>
            <div class="row">
                <div class="col-md-12">
                    <div role="tabpanel">

                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#alfresco_tab" aria-controls="alfresco_tab" data-toggle="tab" role="tab" >Alfresco License Generator</a>
                            </li>
                            <li role="presentation">
                                <a href="#activiti_tab" aria-controls="activiti_tab" data-toggle="tab" role="tab" >Activiti License Generator</a>
                            </li>
                        </ul>

                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane active" id="alfresco_tab">
                                
                                    <form id="alfresco_form">

                                        <div class="panel" style="border-width: 0px;">
                                            <div class="panel-body jumbotron">                                              
                                                <h3><b>Generate a new license</b></h3>
                                                <hr>
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                            </div>
                                            <div class="panel-body jumbotron"> 
                                                <h3><b>License types</b></h3>
                                                <hr>
                                            </div>
                                            <div class="panel-body jumbotron"> 
                                                <h3><b>License arguments</b></h3>
                                                <hr>
                                            </div>
                                            <div class="panel-body jumbotron"> 
                                                <h3><b>Generate</b></h3>
                                                <hr>
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                                            </div>

                                        </div>
                                        {% csrf_token %}

                                    </form>
                                

                            </div>
                            <div role="tabpanel" class="tab-pane" id="activiti_tab">
                                <form id="activiti_form">

                                    <div class="panel" style="border-width: 0px;">
                                            <div class="panel-body jumbotron"> 
                                                <h3><b>Generate a new license</b></h3>
                                                <hr>
                                            </div>
                                            <div class="panel-body jumbotron"> 
                                                <h3><b>License types</b></h3>
                                                <hr>
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                                            </div>
                                            <div class="panel-body jumbotron"> 
                                                <h3><b>License arguments</b></h3>
                                                <hr>
                                            </div>
                                            <div class="panel-body jumbotron"> 
                                                <h3><b>Generate</b></h3>
                                                <hr>
                                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. "</p>
                                            </div>

                                    </div>                                      

                                        {% csrf_token %}
                                    
                                </form> 
                                
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>    

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
        <script type="text/javascript" src="{% static "responsive/bootstrap-tabcollapse.js" %}"></script>
        <script type="text/javascript">
            $('#myTab').tabCollapse();

            
            $( "#myTab li a" ).click(function() {

                var text = $( this ).text();                
                $(".navbar-brand").text(text);
                
            });
        </script>        

    </body>
</html>