{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
    <head>      
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>License Generator</title>
        <link href="{% static "bootstrap/css/bootstrap.min.css" %}" rel="stylesheet">               
        <link href="{% static "css/tabbedform.css" %}" rel="stylesheet" type="text/css"> 

        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/css/bootstrap-select.min.css" />
        <link rel="stylesheet" href="{% static "awesome-bootstrap-checkbox-master/bower_components/Font-Awesome/css/font-awesome.css" %}" type="text/css">    
        <link rel="stylesheet" href="{% static "awesome-bootstrap-checkbox-master/awesome-bootstrap-checkbox.css" %}" type="text/css"> 

        <style>

            @media (max-width: 991px) {
                .navbar-header {
                    float: none;
                }
                .navbar-left,.navbar-right {
                    float: none !important;
                }
                .navbar-toggle {
                    display: block;
                }
                .navbar-collapse {
                    border-top: 1px solid transparent;
                    box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
                }
                .navbar-fixed-top {
                    top: 0;
                    border-width: 0 0 1px;
                }
                .navbar-collapse.collapse {
                    display: none!important;
                }
                .navbar-nav {
                    float: none!important;
                    margin-top: 7.5px;
                }
                .navbar-nav>li {
                    float: none;
                }
                .navbar-nav>li>a {
                    padding-top: 10px;
                    padding-bottom: 10px;
                }
                .collapse.in{
                    display:block !important;
                }
            }

            /*This piece of code make responsive tabs which get stacked
            automatically*/
            @media (max-width: 991px) { 
                    .nav-tabs > li {
                    float:none;
                    border:1px solid #dddddd;
                    border-radius: 5px 5px 0px 0px;
                }
                .nav-tabs > li.active > a{
                    border:none;
                }
                .nav > li > a:hover, .nav > li > a:focus,
                .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus
                 {                    
                    font-weight: bold;
                    border:none;
                }

                .button-group > div {
                    margin: 3px;
                }
            }
        </style>
        
    </head>

    <body>

        <!-- Fixed navbar bootstrap -->
        <nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="navbar-inner">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">    
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="#">Alfresco License Generator</a>
                </div>
                <div class="navbar-collapse collapse" id="myNavbar">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="https://issues.alfresco.com/jira/secure/CreateIssue.jspa?pid=10130&issuetype=1" target="_blank">Raise a JIRA ticket for this app</a>
                        </li>
                        <li>
                            <a href="#">Upload and check an existing license</a>
                        </li>  

                    </ul>
                    <ul class="nav navbar-nav navbar-right">
                        <li><a href="#"><span class="glyphicon glyphicon-log-out"></span> Log out {{username}}</a></li>
                    </ul>
                    
                    
                </div>
            </div>
        </div>
        </nav>
        <!-- Fixed navbar bootstrap -->

        <!-- Begin content page -->
        <div class="container">
            <h1 class="text-center">License Generator</h1> 
            <br>
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <div role="tabpanel">
                        <ul id="myTab" class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#alfresco_tab" aria-controls="alfresco_tab" data-toggle="tab" role="tab" >Alfresco License Generator</a>
                            </li>
                            <li role="presentation">
                                <a href="#activiti_tab" aria-controls="activiti_tab" data-toggle="tab" role="tab" >Activiti License Generator</a>
                            </li>
                        </ul>
                        <div id="myTabContent" class="tab-content">
                            <div role="tabpanel" class="tab-pane fade in active" id="alfresco_tab">                                
                                <form id="alfresco_form" class="form-horizontal" role="form" method="POST">
                                    <div class="panel" style="border-width: 0px;">
                                        <div class="panel-body jumbotron">                                              
                                            <h3><b>Generate a new license</b></h3>
                                            <hr>

                                            <div class="input-group">
                                                <span style="background-color:#C9FFC9;" class="input-group-addon" id="sizing-addon2">Release key &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <label for="release_key"></label>
                                                <select class="form-control" id="release_key" name="release_key" aria-describedby="sizing-addon2">
                                                    <option value="ent22" >ent22</option>
                                                    <option value="ent30" >ent30</option>
                                                    <option value="ent31" >ent31</option>
                                                    <option value="ent32" >ent32</option>
                                                    <option value="ent33" >ent33</option>
                                                    <option value="ent34" >ent34</option>
                                                    <option value="ent35" >ent35</option>
                                                    <option value="ent40" >ent40</option>
                                                    <option value="ent41" >ent41</option>
                                                    <option value="ent42" >ent42</option>
                                                    <option value="ent43" >ent43</option>
                                                    <option value="test42" >test42</option>
                                                    <option value="unit10" >unit10</option>
                                                    <option value="unit10Alfresco2" >unit10Alfresco2</option>
                                                    <option value="unit11" >unit11</option>
                                                    <option value="ent50" selected="selected">ent50</option>
                                                </select>                                                    
                                            </div>
                                            <span style="padding-left:125px;">Select the release this license is for</span>
                                            <br><br>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2" style="padding-right:73px; background-color:#DEFADE;">Notes</span>
                                                <textarea id="notes" name="notes" rows="10" cols="50" class="form-control" aria-describedby="sizing-addon2" placeholder="Reason for generation, any other information worth logging for this license... etc."></textarea>
                                            </div>

                                            <br>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2">External ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" id="external_id" name="external_id" class="form-control" aria-describedby="sizing-addon2">
                                            </div>

                                            <br>

                                            <div class="input-group">
                                                <span class="input-group-addon" style="background-color:#ACC8E8;" id="sizing-addon2">External ID type</span>
                                                <input type="text" id="external_id_type" name="external_id_type" class="form-control" aria-describedby="sizing-addon2">
                                            </div>
                                            <span style="padding-left:125px;">e.g. 'salesforce'</span>
                                            <br><br>                                            
                                        </div>

                                        <div class="panel-body jumbotron"> 
                                            <h3><b>License types</b></h3>
                                            <hr>
                                            <field  id="tag_license_types" name="tag_license_types">
                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_trial" name="tag_trial" value="1" type="checkbox">
                                                    <label for="tag_trial">Trial</label>
                                                </div>

                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_internal_use_only" name="tag_internal_use_only" value="1" type="checkbox">
                                                    <label for="tag_internal_use_only">Internal use only</label>
                                                </div>

                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_proof_of_concept" name="tag_proof_of_concept" value="1" type="checkbox">
                                                    <label for="tag_proof_of_concept">Proof of concept</label>
                                                </div>

                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_extension" name="tag_extension" value="1" type="checkbox">
                                                    <label for="tag_extension">Extension</label>
                                                </div>

                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_perpetual" name="tag_perpetual" value="1" type="checkbox">
                                                    <label for="tag_perpetual">Perpetual</label>
                                                </div>
                                            </fieldset>    
                                            <br>
                                        </div>

                                        <div class="panel-body jumbotron"> 
                                            <h3><b>License arguments</b></h3>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="sizing-addon2">Account holder name</span>
                                                        <input type="text" id="field_holder_name" name="field_holder_name" class="form-control" aria-describedby="sizing-addon2">
                                                    </div>
                                                    <br>

                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="sizing-addon2" style="padding-right:67px; background-color:#ACC8E8;">Expiry (days)</span>
                                                        <input type="number" id="field_days" name="field_days" class="form-control" aria-describedby="sizing-addon2" min="0">
                                                    </div>
                                                    <br>

                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="sizing-addon2" style="padding-right:47px; background-color:#ACC8E8;">Maximum users</span>
                                                        <input type="number" id="field_max_users" name="field_max_users" class="form-control" aria-describedby="sizing-addon2" min="0">
                                                    </div>
                                                    <br>

                                                    <div class="input-group">
                                                        <div class="checkbox checkbox-success">
                                                            <input id="field_no_heartbeat" name="field_no_heartbeat" value="1" type="checkbox">
                                                            <label for="field_no_heartbeat">No heartbeat</label>
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">Heartbeat URL</span>
                                                        <input type="text" id="field_heartbeat_url" name="field_heartbeat_url" class="form-control" aria-describedby="sizing-addon2">
                                                    </div>
                                                    <br>

                                                    <div class="input-group">
                                                        <div class="checkbox checkbox-success">
                                                            <input id="field_cluster_enabled" name="field_cluster_enabled" value="1" type="checkbox">
                                                            <label for="field_cluster_enabled">Clustering enabled</label>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>
                                                <!-- From now on we will have the other 6 field inputs left   -->
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="input-group">
                                                        <span style="background-color:#D5EBF2; padding-right:108px;" class="input-group-addon" id="sizing-addon2">License type &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                        
                                                        <select class="form-control" id="field_license_type" name="field_license_type" aria-describedby="sizing-addon2">
                                                            <option value="enterprise" >ENTERPRISE</option>
                                                            <option value="team" selected="selected">TEAM</option>
                                                        </select>
                                                    </div>
                                                    <br>

                                                    <div class="input-group has-feedback">
                                                        <span class="input-group-addon" id="sizing-addon2" style="padding-right:133px;background-color:#ACC8E8;">Expiry (date)</span>
                                                        <input type="date" id="field_end_date" name="field_end_date" class="form-control" aria-describedby="sizing-addon2">
                                                        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                                                    </div>
                                                    <br>

                                                    <div class="input-group">
                                                        <span class="input-group-addon" id="sizing-addon2" style="padding-right:75px;background-color:#ACC8E8;">Maximum documents</span>
                                                        <input type="number" id="field_max_docs" name="field_max_docs" class="form-control" aria-describedby="sizing-addon2" min="0">
                                                    </div>
                                                    <br>

                                                    <div class="input-group">
                                                        <div class="checkbox checkbox-success">
                                                            <input id="field_cloud_sync" name="field_cloud_sync" value="1" type="checkbox">
                                                            <label for="field_cloud_sync">Cloud sync enabled</label>
                                                        </div>
                                                    </div>
                                                    <br>

                                                    <div class="input-group has-feedback">
                                                        <span class="input-group-addon" id="sizing-addon2">Transformation Server end date</span>
                                                        <input type="date" id="field_ats_end_date" name="field_ats_end_date" class="form-control" aria-describedby="sizing-addon2">
                                                        <i class="glyphicon glyphicon-calendar form-control-feedback"></i>

                                                    </div>
                                                    <br>

                                                    <div class="input-group">
                                                        <div class="checkbox checkbox-success">
                                                            <input id="field_cryptodoc_enabled" name="field_cryptodoc_enabled" value="1" type="checkbox">
                                                            <label for="field_cryptodoc_enabled">CryptoDoc enabled</label>
                                                        </div>
                                                    </div>
                                                    <br>
                                                </div>                                            
                                            </div>
                                            <!-- Till here I have put the other 6 field inputs I had left -->
                                        </div>

                                        <div class="panel-body jumbotron"> 
                                            <h3><b>Generate</b></h3>
                                            <hr>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">License Filename</span>
                                                <input type="text" id="output_filename" name="output_filename" class="form-control" aria-describedby="sizing-addon2">
                                            </div>
                                            <br>

                                            <div class="button-group row">
                                                <div class="col-md-6 col-xs-12">    
                                                    <button type="submit" class="btn btn-block btn-primary">Generate and download</button>
                                                </div>

                                                <div class="col-md-6 col-xs-12">
                                                    <button type="reset" class="btn btn-block btn-warning">Clear Form</button>
                                                </div>
                                            </div>
                                            <br>
                                        </div>
                                    </div>
                                    {% csrf_token %}

                                </form>                                
                            </div>

                            <div role="tabpanel" class="tab-pane fade" id="activiti_tab">
                                <form id="activiti_form">

                                    <div class="panel" style="border-width: 0px;">
                                        <div class="panel-body jumbotron"> 
                                            <h3><b>Generate a new license</b></h3>
                                            <hr>
                                            
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2" style="padding-right:73px;">Notes</span>
                                                <textarea id="notes" name="notes" rows="10" cols="50" class="form-control" aria-describedby="sizing-addon2" placeholder="Reason for generation, any other information worth logging for this license... etc."></textarea>
                                            </div>

                                            <br>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2">External ID&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                <input type="text" id="external_id" name="external_id" class="form-control" aria-describedby="sizing-addon2">
                                            </div>

                                            <br>

                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2">External ID type</span>
                                                <input type="text" id="external_id_type" name="external_id_type" class="form-control" aria-describedby="sizing-addon2">
                                            </div>
                                            <span style="padding-left:125px;">e.g. 'salesforce'</span>
                                            <br><br>
                                        </div>

                                        <div class="panel-body jumbotron"> 
                                            <h3><b>License types</b></h3>
                                            <hr>
                                            <fieldset>
                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_trial" name="tag_trial" value="1" type="checkbox">
                                                    <label for="tag_trial">Trial</label>
                                                </div>

                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_internal_use_only" name="tag_internal_use_only" value="1" type="checkbox">
                                                    <label for="tag_internal_use_only">Internal use only</label>
                                                </div>

                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_proof_of_concept" name="tag_proof_of_concept" value="1" type="checkbox">
                                                    <label for="tag_proof_of_concept">Proof of concept</label>
                                                </div>

                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_extension" name="tag_extension" value="1" type="checkbox">
                                                    <label for="tag_extension">Extension</label>
                                                </div>

                                                <div class="checkbox checkbox-success">
                                                    <input id="tag_perpetual" name="tag_perpetual" value="1" type="checkbox">
                                                    <label for="tag_perpetual">Perpetual</label>
                                                </div>
                                            </fieldset>    
                                            <br>
                                        </div>

                                        <div class="panel-body jumbotron"> 
                                            <h3><b>License arguments</b></h3>
                                            <hr>
                                                <!-- row -->
                                                <div class="row">
                                                    <div class="col-md-6 col-xs-12">
                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">Account holder name</span>
                                                            <input type="text" id="field_holder_name" name="field_holder_name" class="form-control" aria-describedby="sizing-addon2">
                                                        </div>
                                                        <br>

                                                        <div class="input-group has-feedback">
                                                            <span class="input-group-addon" id="sizing-addon2" style="padding-right:133px;background-color:#ACC8E8;">Valid from (date)</span>
                                                            <input type="date" id="field_start_date" name="field_start_date" class="form-control" aria-describedby="sizing-addon2">
                                                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                                                        </div>
                                                        <br>

                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">Number of admins</span>
                                                            <input type="number" id="field_number_of_admins" name="field_number_of_admins" class="form-control" aria-describedby="sizing-addon2" min="0">
                                                        </div>
                                                        <br>

                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">Number of editors</span>
                                                            <input type="number" id="field_number_of_editors" name="field_number_of_editors" class="form-control" aria-describedby="sizing-addon2" min="0">
                                                        </div>
                                                        <br>

                                                        <div class="input-group">
                                                            <span style="background-color:#D5EBF2; padding-right:108px;" class="input-group-addon" id="sizing-addon2">Multi_tenant &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                
                                                            <select class="selectpicker form-control" id="field_multi_tenant" name="field_multi_tenant" aria-describedby="sizing-addon2">
                                                                <option value="true">True</option>
                                                                <option value="false" selected="selected">False</option>
                                                            </select>
                                                        </div>
                                                        <br>

                                                        
                                                    </div>

                                                    <div class="col-md-6 col-xs-12">
                                                        <div class="input-group">
                                                            <span style="background-color:#D5EBF2; padding-right:108px;" class="input-group-addon" id="sizing-addon2">Version &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
                                                
                                                            <select class="selectpicker form-control" id="field_version" name="field_version" aria-describedby="sizing-addon2">
                                                                <option value="1.0ent" selected="selected">1.0ent</option>
                                                            </select>
                                                        </div>
                                                        <br>

                                                        <div class="input-group has-feedback">
                                                            <span class="input-group-addon" id="sizing-addon2" style="padding-right:133px;background-color:#ACC8E8;">Valid to (date)</span>
                                                            <input type="date" id="field_end_date" name="field_end_date" class="form-control" aria-describedby="sizing-addon2">
                                                            <i class="glyphicon glyphicon-calendar form-control-feedback"></i>
                                                        </div>
                                                        <br>

                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">Number of licenses</span>
                                                            <input type="number" id="field_number_of_licenses" name="field_number_of_licenses" class="form-control" aria-describedby="sizing-addon2" min="0">
                                                        </div>
                                                        <br>

                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">Number of processes</span>
                                                            <input type="number" id="field_number_of_processes" name="field_number_of_processes" class="form-control" aria-describedby="sizing-addon2" min="0">
                                                        </div>
                                                        <br>

                                                        <div class="input-group">
                                                            <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">Default tenant</span>
                                                            <input type="text" id="field_default_tenant" name="field_default_tenant" class="form-control" aria-describedby="sizing-addon2">
                                                        </div>
                                                        <br>
                                                        
                                                    </div>
                                                </div>
                                                <!--/ row -->                                                
                                        </div>

                                        <div class="panel-body jumbotron"> 
                                            <h3><b>Generate</b></h3>
                                            <hr>
                                            <div class="input-group">
                                                <span class="input-group-addon" id="sizing-addon2" style="padding-right:54px; background-color:#ACC8E8;">License Filename</span>
                                                <input type="text" id="output_filename" name="output_filename" class="form-control" aria-describedby="sizing-addon2">
                                            </div>
                                            <br><br>

                                            <div class="button-group row">
                                                <div class="col-md-6 col-xs-12">    
                                                    <button type="submit" class="btn btn-block btn-primary">Generate and download</button>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <button type="reset" class="btn btn-block btn-warning">Clear Form</button>
                                                </div>
                                            </div>
                                            <br>

                                        </div>
                                    </div>  
                                    {% csrf_token %}
                                    
                                </form>                                 
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>    

        <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>        
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.6.5/js/bootstrap-select.min.js"></script>       

        <script type="text/javascript">            
            $( "#myTab li a" ).click(function() {

                var text = $( this ).text();                
                $(".navbar-brand").text(text);
                
            });  
        </script>        

    </body>
</html>