
@import url(responsiveness.css);

*, *:after, *:before { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

/* For navigation image */
nav img {
	  height: 170%;
    float: left;
    margin-top: -7px;
    margin-right: 7px;
    margin-left: -10px;
}

.navbar-brand {
	width:297px;
}


/* For general appearance */
.tab-pane {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    border-radius: 0px 0px 5px 5px;
    padding: 10px;
}

.nav-tabs {
    margin-bottom: 0; 
}

div.panel hr {
	border-color: #A9A9A9;
}

div.panel {
	border-width: 0px;
}

body {
	padding-top: 70px;
}

/* For form elements appearance */
h1 {
	color: #7c8d87;	
}

body {
	background-color: #f8f8f8;
}

a {
	color:#31bc86;
}

/* General layout colors */
.jumbotron {
	background-color:#ECF7E3;
}

.input-group span {
	background-color:#B0DAC9;
	font-weight: bold;
}

.checkbox label {
	font-weight: bold;	
}

#text-leyend {
	padding-left:125px;
}

#format-release-key span {
	padding-right: 35px;	
}

#format-notes span {
	padding-right:73px; 
}

#format-external-id span {
	padding-right:43px;	
}

#format-expiry-days span {
	padding-right:67px; 	
}

#format-maximum-users span {
	padding-right:47px; 	
}

#format-heartbeat-url span {
	padding-right:54px; 		
}

#format-license-type span {
	padding-right:130px; 	
}

#format-expiry-date span {
	padding-right:133px; 	
}

#format-maximum-documents span {
	padding-right:75px; 	
}

#format-license-filename span {
	padding-right:54px; 	
}

#format-start-date span {
	padding-right:44px; 	
}

#format-number-admins span {
	padding-right:30px; 	
}

#format-number-editors span {
	padding-right:33px; 	
}

#format-multi-tenant span {
	padding-right:70px; 	
}

#format-version span {
	padding-right:100px; 	
}

#format-end-date span {
	padding-right:60px; 	
}

#format-number-licenses span {
	padding-right:25px; 	
}

#format-number-processes span {
	padding-right:10px; 	
}

#format-default-tenant span {
	padding-right:57px; 	
}









